<!DOCTYPE html>
<html>
<head>
<title>Current Eye Pro</title>
<style>
body {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  text-align: center;
  font-family: Arial;
}

.container {
  margin-top: 80px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 220px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  display: inline-block;
}
</style>
</head>

<body>

<h1>⚡ Current Eye Pro</h1>

<div class="container">
  <div class="box">

    <form action="/check" method="post">

      <input name="input_current" placeholder="Input Current" required><br>
      <input name="output_current" placeholder="Output Current" required><br>
      <input name="temperature" placeholder="Temperature" required><br>

      <button type="submit">Check System</button>

    </form>

  </div>
</div>

</body>
</html>
